<div id="<%= dom_id patient %>">
  <p>
    <strong>Пациент #<%= patient.id %></strong>
  </p>


  <p>
    <strong>Имя:</strong>
    <%= patient.first_name %>
  </p>

  <p>
    <strong>Фамилия:</strong>
    <%= patient.last_name %>
  </p>

</div>
